[Unit]
Description=Disable Wi-Fi power save
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/bin/bash -c "sleep 2; /sbin/iw dev wlan0 set power_save off"
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
